# C++ build artifacts
build/
deps/
bin/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Temporary/Output files
*.vtu
*.npz
*.csv
*.png
*.pdf
*.log
*.tmp
*.trace.json.gz

# IDEs
.vscode/
.idea/
trace_dir/
